.row{
    padding: 0.3rem;
    margin: 0.6rem;
}

.row:hover{
    cursor: pointer;
}

.row-img{
    text-align: center;
}

.img{
    max-width: 405px;
    margin: 0.6rem;
}

.row-data{
    padding: 0.6rem;
    padding-top: 0;
}