<div>
    <h2>We build Websites</h2>
    <span>
    Many websites choose to display a short explanatory text in a prominent position of their web page layouts to inform visitors what the purpose of the site is. This introductory text, when crafted well, can help users quickly decide whether they’re in the right place or not. A website has mere seconds to let visitors know that they’ve found what they’re looking for, and your site introduction is your brief elevator pitch towards that.

    We’ll explore the use of website introductory text in various types of websites to gain a better understanding of trends and techniques for effectively designing them. At the end of this article, there’s also a showcase of some excellent web designs that have great website introductory text for our further exploration of the topic.
    </span>
</div>
<div>
<h2>Design Goals</h2>
    <span>
    There needs to be a purpose for every component of a website.

    They each have to support the goals and purpose of the site. In this way, a thoughtful approach to the design and the copy of your website introductory text is important. The goals of your site introduction are:

    <ul>
        <li>To let the visitor know, as quickly as possible, what the website is about.</li>
        <li>To give hints as to what action (or actions) they can take immediately (call to action).</li>
        <li>To provide contextual information regarding what to expect should the visitor decide to spend more time on the site.</li>
    </ul>    

    What follows are some design considerations congruent to the three goals above.
    </span>
</div>
<div>
    <h2>The Text Should Be Concise and Useful</h2>
    <span>
        Your copy should be clear and succinct — 1 to 3 sentences should suffice — akin to the abstract of a scientific paper or an excerpt of a blog post. Short intro text improves usability by giving the web page some context, but if it’s too long, users tend to skip it according to an article by leading usability expert, Jakob Nielsen.

        A thoughtfully designed and informative introduction helps first-time site visitors swiftly determine what the site is about. A well-crafted site introduction text is actionable. The example below from Polecat is an example that highlights the importance and effectiveness of being concise.
        
        In only five words, the site intro text successfully encapsulates what the site is. Despite the brevity of the copy, it clearly informs visitors that it’s the site of iOS developers.     
    </span>
</div>