<mat-toolbar color="secondary">
  <!-- <span>My Application</span> -->
  <div class="menu-area">
    <div cdkMenuBar>
      <!-- https://material.angular.io/cdk/menu/examples -->
      <button class="menu-bar-item" cdkMenuItem routerLink="/home">Home</button>
      <button class="menu-bar-item" cdkMenuItem [cdkMenuTriggerFor]="item">Items</button>
      <button class="menu-bar-item" cdkMenuItem routerLink="/contact">Contact</button>
    </div>
  </div>
  <mat-icon class="mobile-menu-area" [cdkMenuTriggerFor]="mobile_menu">
    menu
  </mat-icon>
  <div class="cart-area">
    <!-- https://fonts.google.com/icons?icon.set=Material+Icons -->
    <!-- Link: https://material.angular.io/components/badge/examples -->
    <mat-icon class="shopping-cart" (click)="showChart()" [matBadge]="service.getChartTotalQuantity()" [matBadgeHidden]="service.getChartTotalQuantity() === 0">
      shopping_cart
    </mat-icon>
  </div>
</mat-toolbar>
<div class="main-container">

  <ng-template #item>
    <div cdkMenu class="items-menu">
      <button cdkMenuItem class="item-menu" routerLink="/men">Men</button>
      <button cdkMenuItem class="item-menu" routerLink="/women">Women</button>
    </div>
  </ng-template>

  <ng-template #mobile_menu>
    <div cdkMenu class="items-menu">
      <button class="item-menu" cdkMenuItem routerLink="/home">Home</button>
      <button class="item-menu" cdkMenuItem [cdkMenuTriggerFor]="item" routerLink="/list">Items</button>
      <button class="item-menu" cdkMenuItem routerLink="/contact">Contact</button>
    </div>
  </ng-template>

  <router-outlet></router-outlet>
</div>
