<h1 mat-dialog-title>{{'CHART'}}</h1>
<div mat-dialog-content>
    <div *ngFor="let c of getProductsInChart();" class="row">
        <div class="row-data">
            <div>{{getProductById(c._id).title}}: </div>
        </div>
        <div class="row-info">
            <div>
                <img class="img" src="../../../assets/images/{{getProductById(c._id).image}}">
            </div>
            <div style="padding:0.3rem;">
                <div>{{getProductById(c._id).description}}</div>
            </div>
        </div>
        <div class="row-data">
            <!-- <div>ID: {{c._id}}</div> -->
            <!-- <div>Name: {{getProductById(c._id).title}}</div> -->
            <div>Quantity: {{c.quantity}}</div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button mat-dialog-close color="warn">Close</button> -->
  <button mat-raised-button mat-dialog-close color="primary" >Close</button>
  <button mat-raised-button mat-dialog-close color="accent" >Confirm</button>
</div>
